<section class="bg-half-170 border-bottom agency-wrapper d-table w-100" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 order-1 order-md-2">
                <div class="title-heading mt-4 ms-lg-5">
                    <h1 class="heading mb-3">We are the talents of <span class="text-primary">VKU</span></h1>
                    <p class="para-desc text-muted">Don’t limit yourself. Many people limit themselves to what they think they can do. You can go as far as your mind lets you. What you believe, remember, you can achieve.</p>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <%= image_tag "illustrator/youtube-media.svg", class: "img-fluid"%>
            </div>
        </div>
    </div>
</section>

<div class="container mt-4 mt-lg-0">

    <div class="row" id="content">
        <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="card blog rounded border-0 shadow overflow-hidden">
                <div class="position-relative">
                    <%= image_tag "blog.jpg", class: "card-img-top"%>
                </div>
                <div class="card-body content">
                    <h5><%= truncate(post.Title, length: 70) %></h5>
                    <div class="post-meta d-flex justify-content-end mt-3">
                    <%= link_to 'Read More ', post , class: "text-muted readmore"%>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <ul class="pagination justify-content-center mb-0">
                <% if params[:search] %>
                <% else %>

                    <% if @page - 1 >= 0 %>
                        <li class="page-item">
                            <%= link_to "Prev", root_path(page: @page - 1), class: "page-link" %>
                        </li>
                    <% end %>
                    <li class="page-item  active">
                        <%= link_to @page, root_path(page: @page), class: "page-link" %>
                    </li>
                    <li class="page-item">
                        <%= link_to "Next", root_path(page: @page + 1), class: "page-link" %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>